{% extends 'base.html.twig' %}

{% block title %}New Quack{% endblock %}

{% block body %}
    <div class="container">
        <h1>CoinCoin</h1>
        {{ include('quack/_form.html.twig') }}
        <button type="button" class="btn btn-outline-secondary">
            <a href="{{ path('quack_index') }}">back to list</a>
        </button>
    </div>
{% endblock %}
